{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron bg-light p-5 rounded">
            <h1 class="display-4">Witaj w aplikacji Django!</h1>
            <p class="lead">Ta aplikacja zawiera rozwiązania dwóch zadań rekrutacyjnych:</p>
            <hr class="my-4">

            <div class="row g-3 g-md-4 mt-2">
                <div class="col-md-6 d-flex">
                    <div class="card h-100 w-100 d-flex flex-column">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">📝 Zadanie 1: Przetwarzanie Tekstu</h5>
                            <p class="card-text flex-grow-1">
                                Prześlij plik tekstowy, a aplikacja przemieszuje litery w środku każdego wyrazu,
                                pozostawiając pierwszą i ostatnią literę na swoich miejscach.
                            </p>
                            <a class="btn btn-primary mt-auto align-self-center align-self-md-start" href="{% url 'text_processor:upload' %}">
                                Przejdź do przetwarzania tekstu
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex">
                    <div class="card h-100 w-100 d-flex flex-column">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">🔍 Zadanie 2: Walidator PESEL</h5>
                            <p class="card-text flex-grow-1">
                                Wprowadź numer PESEL, a aplikacja zweryfikuje jego poprawność oraz
                                wyświetli informacje o dacie urodzenia i płci.
                            </p>
                            <a class="btn btn-success mt-auto align-self-center align-self-md-start" href="{% url 'pesel_validator:validate' %}">
                                Przejdź do walidatora PESEL
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
